/* ===== RESET ===== */
body {
  font-family: 'Russo One';
  background: white;
  color: #111;
}


/* ===== NAV ===== */
h1 {
  text-align: center;
  /*===== GIVES HEADER TRANSITIONING COLORS====*/
  background-image: linear-gradient(to right, #e4b047, #cb7a3b, #b84c38);
  font-family: 'Russo One';
  font-size: 50px;
  padding: 20px;
}


.topbar {
  background: #111;
  border-bottom: 4px solid #D4A017;
}

.nav {
  display: flex;
  padding: 14px 18px;
  align-items: center;
  color: #321a0b;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  flex: 1; /* keeps menu centered */
  font-size: 25px;
}

.nav a, .dropdown > span {
  color: #D4A017;
  font-size: 25px;
}

.nav a:hover {
  text-decoration: underline;
}

/* === CENTER NAV BAR SELECTION ===*/
.dropdown {
  position:relative;
  display: inline-block
}

.drop-downcontent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #111;
  border: 2px solid #000;
  min-width: 180px;
  z-index: 1000;
}

.drop-downcontent a {
  display: block;
  padding: 10px 12px;
  margin: 0;
  text-transform: none;
  font-size: 13px
}
.dropdown:hover .drop-downcontent {
  display: block;
}
/* ==== LEFT SIDE LOGO === */
.logo {
  display: flex;
  align-items: center;
  gap: 80px;
}

.logo img {
  width: 80px;
  height: auto;
}

/* ==== RIGHT SIDE NAV BAR SELECTION === */
.signInAndCart {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto; /* pushes to the far right */
  
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  box-sizing: border-box;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 15%;
}
.dropdown > span {
    font-family: 'Bebas Neue', sans-serif;
    background: #111;
    color: #D4A017;
    text-transform: uppercase;
    font-size: 25px;
    cursor: default;
}

.heroImage {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* ===== SWIPER HERO TRANSITION ===== */

.swiper {
  width: 100%;
  height: 850px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 850px;
}
.slide-img1 {
  object-position: top;
  object-fit: cover;
  height: 850px;
}

.slide-img2 {
  object-position: bottom;
}
.swiper-button-next{
  z-index: 10
}
.swiper-button-prev{
  z-index: 10
}

main {
  margin: 0;
  padding: 0;
}

section.flexbox-container {
  display: flex;
  background-color: black;
  margin: 0 auto;
  width: 100%;
  padding: flex;
  text-align: center;  
  font-size: 30px;
  justify-content: space-between;
}
.flexbox-item {
  flex: 1;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
  padding: 40px 20px;
  background-image: linear-gradient(to right, #e4b047, #cb7a3b, #b84c38);
}

.flexbox-item-1 {
  
}

.flexbox-item-2 {

}

.flexbox-item-2 img {
  width: 500px;
  height: auto;
}

.flexbox-item-3 {
  
}